@charset "utf-8";
body {
    margin: 0px; padding: 0px;
}
p {
    margin: 0px; padding: 0px;
}
div{
    width:1000px;
    margin:0 auto;}

img {
    border:none;
    border: currentColor; vertical-align: middle;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.top{
    height:80px;}
.top-left{
    float:left;
    width:128px;
    margin-top:20px;}
.top-right{
    float:right;
    margin-bottom:10px;
    width:703px;}
.top-right-top{
    position:relative;
    margin-top:10px;
    float:right;
    width:444px;
    height:22px;}
.top-right-top-wai{
    width: 230px;
    height: 22px;
    float:left;
    background: #f9f9f9;
    color:#CCC;
    border: 1px solid #e7e7e7;
    color:#CCC;}
#shuru{
    width: 198px;
    height: 22px;
    border:0;
    padding-left: 5px;
    background: none;
    outline: none;}
.button{
    border:0;
    width:13px;
    height:13px;
    float:right;
    cursor: pointer;
    background:url(../img/searchtop.jpg);
    position:absolute;
    margin-top:5px;
    left:215px;}
.gp-code{
    float: left;
    margin-left: 15px;
    color: #666666;
    height: 22px;
    line-height: 22px;
    font-size:14px;
}
span{
    font-size:14px;
    color: #d71728;
    padding-left:5px;}
.line{
    font-weight:bold;
    color: #e7e7e7;
    padding: 0 14px;}
.toplink{
    display:block;
    margin-top:-20px;
    float:right;
    width:54px;
    height:22px;}
.weibo{
    float: left;
    display: block;
    margin-left:5px;
    margin-right: 5px;
    width: 22px;
    height: 22px;
    background:url(../img/weibo.JPG);}
.weixin{
    float: left;
    display: block;
    width: 22px;
    height: 22px;
    background:url(../img/weixin.JPG);}
.top-right-footer{
    float:right;
    width:708px;
    height:38px;}
.top-right-footer > ul{
    margin-top:18px;}
.top-right-footer ul > li{
    font-size:15px;
    padding:0 20px;
    float:left;}
#sou{
    font-size:15px;
    font-weight:normal;
    color:#F00;}
.top-right-footer > ul > li > a{
    color:#000;}
.top-right-footer > ul > li > a:hover{
    color:#F00;}
#top-right-footer-ul-li{
    font-size:15px;
    padding:0;
    margin-left:22px;
    float:left;}
#top-right-footer-ul-li a{
    color:#000;}
#top-right-footer-ul-li a:hover{
    color:#F00;}

.guang{
    width:100%;
    margin:0;
    padding:0;}
.guang img{
    width:100%;}
.nav{
    margin-bottom:30px;
    width:100%;
    height:48px;
    background:url(../img/mainpositionBg.jpg) no-repeat;}
.nav-li{color: #666666;font-size:12px;}
.nav-li a{
    color: #666666;
    line-height:48px;
    font-family: '微软雅黑', Arial, Helvetica, sans-serif;}

.content{
    height:auto;}
.content-left{
    width:166px;
    float:left;}
.content-left-top{
    height:42px;
    background:url(../img/leftnavbg.jpg) no-repeat;}
.content-left-top h4{
    padding-left:22px;
    font-size:16px;
    color: #fff;
    line-height: 42px;
    margin:0;}
.it{
    float:left;
    background:#FBECED;
    display:block;
    height:40px;
    line-height:40px;
    color: #333333;
    font-size:14px;
    width:150px;
    padding-left:22px;}
.hong{
    font-weight:normal;
    color:#F00;}
.it:hover{color:#F00;}
.content-left-ul{
    margin:0;
    padding:0;}
.content-left-ul li a{
    color: #333333;
    width: 124px;
    font-size:14px;
    line-height: 22px;
    padding: 8px 28px 8px 20px;
    float:left;}
.content-left-ul li a:hover{
    background:#FBECED;
    color:#F00;}

.content-right{
    padding-left:50px;
    width:783px;
    float:right;}
.content-right-title{
    width: 768px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
    text-align: center;
}
.content-right-title h1{
    color: black;
    font-size: 18px;
    font-weight:normal;
}
.content-right-title p{
    line-height: 28px;
    color: #999;
    font-size:12px;
}
.content-right p{
    width: 768px;
    padding: 15px 0;
    text-indent: 2em;
    font-size:14px;
    color: #666;
}
.content-right-imga{
    width: 500px;
    height: 281px;
    margin:20px 0 20px 120px;
}
.content-right-title-span{
    text-indent: 2em;
    color: #666;
    display: inline-block;
    margin:10px 0 0 0;
    font-weight: bold;
    padding: 0px;
}
.xia{
    height: 40px;
    width: 768px;
    border-top: 1px solid #e1e1e1;;
}
.foot{
    clear: both;
    width:100%;
    height:276px;
    background:#475059;}
.foot-li{
    width:1000px;
    height:186px;
    padding: 55px 0 35px;}
.foot-li-left{
    width:690px;
    float:left;}
.foot-li-left-li{
    margin:0;
    padding:0;
    float:left;
    width:96px;
    height:186px;}
.foot-li-left-li h5{
    font-size:16px;
    margin-bottom:25px;
    font-weight:inherit;
    color: #fff;}
.foot-li-left-li a{
    display:block;
    color: #959595;
    font-size: 14px;
    margin-bottom:15px;}
.foot-li-left-lii{
    width:70px;
    height:186px;
    float: left;
    margin-left: 78px;}
.foot-li-left-lii h5{
    font-size:16px;
    font-weight:inherit;
    margin-bottom:25px;
    color: #fff;}
.foot-li-left-lii a{
    display:block;
    color: #959595;
    font-size: 14px;
    margin-bottom:15px;}

.foot-li-right{
    position:relative;
    float:right;
    width:133px;
    height:55px;}
.foot-li-right-a-img{
    margin-left:30px;}
.tow{
    background:#394048;
    width:100%;
    padding:20px 0;}
.tow p{
    color: #828282;
    margin: 0;
    font-size:12px;
    text-align:center;}